*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
}



header{
	background: url('./img/Header-Area.png') center/cover;
	height: 60vh;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
}

nav{
	width: 80%;
	display: flex;
	margin: 0 auto;
	padding: 1.5em 0;
}
.flexMenu{
	display: flex;
	width: 85%;
	margin: 0 auto;
	justify-content: space-between;
}


.dFlexU{
	display: flex;
	backdrop-filter: invert(15%);
	padding: 2px 5px;
	border: 1px solid transparent;
	box-shadow:200px 200px 2px 8px rgba(255,255,255,0.21) inset;
	border-radius: 5px;
}
.menu{
	position: relative;
	border: 0.2px solid #6ab6db99;
	border-radius: 7px;
	display: none;
}
.dFlexU li{
	padding:10px;
    color: white;
    font-family: math;
}
.dropdown {
	position: relative;
	display: inline-block;
   }
   .dropdown-content {
	display: none;
	position: absolute;
	backdrop-filter: invert(45%);
	box-shadow:200px 200px 2px 8px rgba(255,255,255,0.21) inset;
	padding: 7px 15px;
	z-index: 1;
   }
   .borderLang{
	border-radius: 10px;
   }
   .dropdown-content2 {
	display: none;
	position: absolute;
	right: 0;
	backdrop-filter: invert(10%);
	box-shadow:200px 200px 2px 8px rgba(255,255,255,0.1) inset;
	padding: 12px 16px;
	z-index: 1;
   }
   .dropdown-content3 {
	display: none;
    position: absolute;
    top: -4em;
    right: -3em;
    padding: 2em;
    z-index: 1;
   }
   .dropdown-content3 ul{
	position: relative;
   }
   .dropdown-content2 ul{
	position: relative;
   }
   
   .dropdown:hover .dropdown-content {
	display: block;
   }
   .dropdown:hover .dropdown-content3 {
	display: block;
   }
  
   .point{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 5px 0 10px;
	background: red;
   }
   .btn{
	display: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0 5px;
	padding: 10px 15px;
    background: none;
    border: none;
    border-radius: 4px;
    border: 0.5px solid #6ab6db99;
    color: white;
    box-shadow: 200px 200px 2px 8px rgba(255,255,255,0.21) inset;
   }
   .dFlex{
	width: 220px;
	display:flex ;
	margin: 10px 0;
   }
   .dropdown2P{
	background: black;
    width: 160px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .dropdownX{
	display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 0 10px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
   }
   .close{
	position: absolute;
    top: -7px;
    color: white;
    font-size: 0.9em;
    border-radius: 50%;
    padding: 3px 7px;
    box-shadow: 200px 200px 2px 8px rgba(255,255,255,0.21) inset;
    right: -5px;
   }
   .scroll{
	position: absolute;
	z-index: 99999;
	background: gray;
	width: 5px;
	right: -10px;
	height: 90%;
	margin-top: 10px;
   }
   .scrollPoint{
	position: absolute;
	z-index: 99999;
	background: #ced7d7;
	right: -14px;
	width: 13px;
	bottom: 25%;
	height: 13px;
	border-radius: 50%;
   }
   .modal {
	display: none;
	position: fixed;
	z-index: 999999; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: xrgb(0,0,0); 
	transition: all 1s;
	background-color: rgba(0,0,0,0.4);
   }
   .modal-content {
	box-shadow: 200px 200px 200px 8px rgba(255,255,255,0.21) inset;
	margin: auto;
	border-radius: 10px;
	backdrop-filter:blur(5px) ;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	transition: all 1s;
   }
   .modalSize{
	width: 500px;
	height: 500px;
   }
   .colorWhite{
	color: white;
   }
   .fnt{
	font-family:Arial, Helvetica, sans-serif;
   }
   .fsize{
	font-size: 1.2em;
   }
   .fntGlori{
	font-family: Gilroy-Bold;
	font-size: 1.1em;
	padding: 0 0 1em 0
   }
   .fs08{
	font-size: 0.8em;
   }
   .txtCenter{
	text-align: center;
   }
   .pdY{
	padding: 1.6em 0;
   }
   .inputLabel{
	padding: 5px 2em;
   }
   .inputs{
	width: 85%;
	margin: 0 auto;
   }
   .inputs input{
	width: 100%;
	padding: 10px 15px;
	background-color: black;
	border-radius: 5px;
	color: white !important;
	border-color: rgb(23, 207, 235);
   }
   .inputs2{
	width: 85%;
	margin: 0 auto;
   }
   .inputs2 input{
	width: 100%;
	padding: 10px 15px;
	background-color: black;
	border-radius: 5px;
	border: none;
	color: white !important;
   }
   .textEnd{
	text-align: end;
   }
   
   .pd4Y{
	padding: 4px 0;
   }
   .inputFlex{
	display: flex;
	width: 85%;
	margin: 10px auto;
	justify-content: space-between;
   }
   .signIN{
	box-sizing: border-box;
    padding: 15px 25px;
    font-family: sans-serif;
    border-radius: 20px;
    backdrop-filter:blur(30px) ;
    margin-right: -25px;
    box-shadow: 200px 200px 2px 8px rgba(255,255,255,0.21) inset;
   }
   .pd15Y{
	padding: 15px 0;
   }
   .pd50x{
	padding-right: 50px;
   }
   .inputEndP{
	width: 97%;
    margin: 0 auto;
    font-size: 0.9em;
    text-align: center;
   }

   .closeSpan{
    box-shadow: 200px 200px 2px 8px rgba(255,255,255,0.21) inset;
    border-radius: 49%;
    position: absolute;
    backdrop-filter:blur(5px) ;
    top: -18px;
    display: flex;
    padding: 10px 12px;
    color: white;
    font-size: 0.8em;
    right: -18px;
   }
   .voiceUp{
	width: 71%;
    margin: 0 auto;
    text-align: end;
   }
   .voice{
	border: 1px solid white;
	padding: 5px;
	border-radius: 50%;
	position: relative;
    right: -10px;
   }
   .hambMenu{
	position: absolute;
    top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 5px;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 4px;
    /* border: 0.5px solid #6ab6db99; */
    color: white;
   }

   .sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	background-color:black;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
   }
   
   .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
   }
   
   .sidenav a:hover {
	color: #f1f1f1;
   }
   
   .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
   }
   .upMargin{
	margin-top: 2em;
   }
   .upLogo{
	margin-left: 32px;
   }
   .upMenu{
	color: white;
	margin: 10px 0;
	margin-left: 32px;
	font-size: 1.1em;
	font-family: Gilroy-Medium;
   }

   .langs{
	position: relative;
	height: 70%;
   }
   .langs ul{
	position: absolute;
	bottom: 0;
   }
   
   main{
	height: 70vh;
	background-color: #161616;
   }
   
   .swiper {
	height: 100%;
	padding-top: 3em !important;
   }
   .swiper-button-prev{
	display: none !important;
   }
   .swiper-button-next{
	display: none !important;
   }
   .dSN{
	display: none;
   }

   .swiper-slide {
	width: 150px !important;
	margin-right: 5px;
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
   }

   .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
   }

   .swiper {
	width: 100%;
	height: 100px;
	padding:10px 0;
   }
   .swiper-button-prev:after {
	font-size: 1.5em !important;
	color: white !important;
	border: 1px solid transparent;
	box-shadow: 200px 200px 2px 8px rgba(17, 17, 17, 0.3) inset;
	padding: 10px 15px;
	border-radius: 50%;
   }
   .swiper-button-next:after {
	font-size: 1.5em !important;
	color: white !important;
	border: 1px solid transparent;
	box-shadow: 200px 200px 2px 8px rgba(17, 17, 17, 0.3) inset;
	padding: 10px 15px;
	border-radius: 50%;
   }
   .swiper-wrapper{
	margin-left: 1.5em;
}
   @media only screen and (min-width: 400px) {
	.swiper-slide {
		width: 190px !important;}
	
}
   
   @media only screen and (min-width: 500px) {
	.swiper-slide {
		width: 210px !important;
	}
	.swiper {
		width: 100%;
		height: 200px;
		padding:10px 0;
	   }
}
   
   @media only screen and (min-width: 600px) {
	.swiper-slide {
		width: 230px !important;}
	.modal-content{
		width: 50%;
	}
	
	.wd150{
		width: inherit;
	}
	.wd30{
		width: inherit;
	}
	.wd25{
		width: inherit;
	}
   }
   @media only screen and (min-width: 800px) {
	.modal-content{
		width: 40%;
	}
	.menu{
		display: block;
	}
	.btn{
		display: inline;
	}
	.hambMenu{
		display: none;
	}
	.sidenav{
		display: none;
	}
	.slider-content{
		padding:0 4em;
	}

	.show{
		display: block;
	}
	.m10X{
		margin-left: 10px;
	   }
	   .nameBlur{
		margin-top: -19px;
	   }
	   .swiper-wrapper{
		margin-left: 4em;
	}
	.swiper-slide{
		
		width: 280px !important;
		margin-right: 15px !important;
	}
	
	.swiper-button-prev{
		display: block !important;
		left: var(--swiper-navigation-sides-offset,4em) !important;
		top: 8em !important;
	   }
	   .swiper-button-next{
		display: block !important;
		right: var(--swiper-navigation-sides-offset,3em) !important;
		top: 8em !important;
	   }
	   
   }
   @media only screen and (min-width: 900px) {
	.swiper-button-prev{
		left: var(--swiper-navigation-sides-offset,5em) !important;
		
	   }
	   .swiper-button-next{
		right: var(--swiper-navigation-sides-offset,5em) !important;
		
	   }
   }
   @media only screen and (min-width: 1000px) {
	.modal-content{
		width: 30%;
	}
	.swiper-wrapper{
		margin-left: 6em;
	}
	.swiper-button-prev{
		left: var(--swiper-navigation-sides-offset,7em) !important;
		
	   }
	   .swiper-button-next{
		right: var(--swiper-navigation-sides-offset,7em) !important;
		
	   }
   }
   @media only screen and (min-width: 1100px) {
	.modal-content{
		width: 30%;
	}
	.swiper-wrapper{
		margin-left: 7em;
	}
	.swiper-button-prev{
		left: var(--swiper-navigation-sides-offset,9em) !important;
	
	   }
	   .swiper-button-next{
		right: var(--swiper-navigation-sides-offset,9em) !important;
	
	   }
   }
   
   @media only screen and (min-width: 1200px) {
	.modal-content{
		width: 25%;
	}
	
   }
  